In [7]:
import os
import pandas as pd
from sqlalchemy import create_engine

In [8]:
# Build legacy storet database
# Data accessed at https://www3.epa.gov/storet/legacy/gateway.htm
#
#result_file_list = glob.glob('C:/Users/thodson/Desktop/Projects/nrec/data/legacy_storet/Illinois/Illinois/*/*_res_*') 
#
##build full database from legacy storet files
#dtype = {
#    'Start Time':str,
#    'End Time': str,
#    'Station': str,
#    'Param': str,
#    'HUC': str,
#    'CS': str,
#    'CM': str,
#    'Primary Activity Category' : str,
#    'Secondary Activity Category' : str
#}
#parse_dates = ['Start Date','End Date']
#
#for result_file in result_file_list:
#    df = pd.read_csv(result_file,
#                 sep='[ ]*\t+[ ]*',
#                 dtype=dtype,
#                 parse_dates=parse_dates,
#                 header=0, skiprows=[1])
#    # drop all non-numeric results
#    df['Result Value'] = pd.to_numeric(df['Result Value'], errors='coerce')
#    df = df.dropna(subset=['Result Value', 'Start Date'])
#    
#    df.to_sql('legacy_storet',
#              con=engine,
#              schema='nrec',
#              if_exists ='append')

In [9]:
engine = create_engine('postgresql://postgres:Qwert213@localhost/postgres')
df = pd.read_sql_table('legacy_storet',
                       con=engine,
                       schema='nrec')

project_name = 'ambient_2023'

In [ ]:
 # Scroll down to crosswalk section

In [3]:


#0 load site info from excel table

filename='../data/ambient_sites_v2023.csv'
sites = pd.read_csv(filename, dtype={'USGS Code':str, 'USGS Gage':str})

storet_id = 'IL_EPA_WQX-' + sites['StationCode']

usgs_sites = sites['USGS Code']
#usgs_sites = usgs_sites[usgs_sites.values != 'nan'].values.tolist()
usgs_sites = usgs_sites[~usgs_sites.isna()].values.tolist()

usgs_gages = sites['USGS Gage']
#usgs_sites = usgs_sites[usgs_sites.values != 'nan'].values.tolist()
usgs_gages = usgs_gages[~usgs_gages.isna()].values.tolist()

In [4]:
# start here XXX
gage_rename = sites[['USGS Code','USGS Gage']].dropna()
usgs_sites = gage_rename['USGS Code']
usgs_gages = gage_rename['USGS Gage']

In [5]:
sites_with_different_gages_index = gage_rename['USGS Code'] != gage_rename['USGS Gage']

In [6]:
usgs_sites[sites_with_different_gages_index].to_list()

['05563800',
 '05568005',
 '05577505',
 '03346550',
 '03343395',
 '03381495',
 '05554490',
 '05599500',
 '05558995',
 '05556200',
 '05546700',
 '05553000']

In [7]:
# Select all samples associated with sites (where site number differs from gage number)
query = """SELECT * FROM nrec.legacy_storet WHERE "Station" in ('{}') AND "Agency" = '21ILAMB'
""".format("','".join(usgs_sites[sites_with_different_gages_index].to_list()))

samples_by_usgs_site = pd.read_sql_query(query, engine)
# move samples to gage

samples_by_usgs_site = samples_by_usgs_site.merge(gage_rename, how='inner', right_on='USGS Code', left_on='Station') 
samples_by_usgs_site['Station'] = samples_by_usgs_site['USGS Gage']
samples_by_usgs_site = samples_by_usgs_site.drop(['USGS Gage','USGS Code'], axis=1)

In [8]:
samples_by_usgs_site.shape

(131029, 24)

In [9]:
# select all samples by usgs gage ID
query = """SELECT * FROM nrec.legacy_storet WHERE "Station" in ('{}') AND "Agency" = '21ILAMB'
""".format("','".join(usgs_gages))

samples_by_usgs_gage = pd.read_sql_query(query, engine)

In [10]:
samples_by_usgs_gage.shape

(894323, 24)

In [11]:
samples_by_usgs_gage = samples_by_usgs_gage.append(samples_by_usgs_site)
samples_by_usgs_gage = samples_by_usgs_gage.replace({'00940':'99220'})
samples_by_usgs_gage.to_sql('legacy_storet_temp',
            con=engine,
            schema='nrec',
            if_exists ='replace')

In [12]:
samples_by_usgs_gage.shape
#append
# drop duplicates

(1025352, 24)

In [13]:
# select mislabeld samples and append to legacy_storet_temp XXX
station_rename = sites[['StationCode','USGS Gage']].dropna()
station_rename['StationCode'] = station_rename['StationCode'].str.replace('-',' ')

other_legacy_sites = [
    ['DT      01', '05552500']
]
other_legacy_sites = pd.DataFrame(other_legacy_sites, columns=['StationCode','USGS Gage'])

station_rename = station_rename.append(other_legacy_sites)

query = """SELECT * FROM nrec.legacy_storet WHERE "Station" in ('{}')
""".format("','".join(station_rename['StationCode'].to_list()))

missing_samples = pd.read_sql_query(query, engine)
missing_samples = missing_samples.replace({'00940':'99220'})
# rename Stations to match USGS gages
station_rename_dict = {row['StationCode']:row['USGS Gage'] for index, row in station_rename.iterrows()}
missing_samples['Station'] = missing_samples['Station'].replace(station_rename_dict)

missing_samples.to_sql('legacy_storet_temp',
            con=engine,
            schema='nrec',
            if_exists ='append')

In [14]:
missing_samples.shape

(1679, 24)

In [15]:
xxx = pd.read_sql_table('legacy_storet_temp',con=engine, schema='nrec')
xxx.shape

(1027031, 25)

In [17]:
## do the above for each parameter in parameter list and append
#query = """
#SELECT site_no as "Station", sample_dt as "Start Date" FROM nrec.wrtds WHERE p{0} IS NOT NULL
#AND site_no in ('{1}')
#""".format(parameter,
#           "','".join(usgs_sites))



param_list = ['00530','00535','00600','00610','00625','00630','00665','00666','00667', '00946', '80154','99220']
#param_list = ['00535']

for parameter in param_list:
    # select samples wrtds where site_no is in list of usgs gages
    #SELECT site_no as "Station", TO_TIMESTAMP(sample_dt, 'YYYY-MM-DD') AT TIME ZONE 'CST' as "Start Date" FROM nrec.wrtds WHERE p{0} IS NOT NULL 
    query = """
    SELECT site_no as "Station", TO_DATE(cast(sample_dt as TEXT), 'YYYY-MM-DD') as "Start Date" FROM nrec.wrtds WHERE p{0} IS NOT NULL    
    AND site_no in ('{1}')
    """.format(parameter,
               "','".join(usgs_gages)) #20210628 changed from usgs_sites
    
    # select samples form legacy storet where station in list of 
    query2 = """SELECT * FROM nrec.legacy_storet_temp WHERE "Station" in ('{}')
    AND "Param" in ('{}') AND "Agency" = '21ILAMB'
    """.format("','".join(usgs_gages),
               parameter)
    
    query3 = """
    SELECT * FROM ({}) as table1
    WHERE ("Station","Start Date")
    NOT IN ({})
    """.format(query2, query)
    

    df = pd.read_sql_query(query3, engine)
    
    #df.to_sql('legacy_storet_missing_test',
    df.to_sql('legacy_storet_missing_test_v2',
              con=engine,
              schema='nrec',
              if_exists ='append')

# check in pg admin
# select "Start Date" FROM nrec.legacy_storet_missing_test_v2 WHERE "Station"='05568000' AND "Param"='00630' ORDER BY "Start Date" DESC;

In [500]:
#xxx = pd.read_sql_table('legacy_storet_missing_test_v2',con=engine)
#xxx.shape

In [ ]:
# test that it worked

# Cross Walk
presumably this comes after running 02_merge_database?

In [18]:
#XXX make sure table name matches previous storet_missing_test
import numpy as np
df = pd.read_sql_query(
    """
    SELECT * FROM nrec.legacy_storet_missing_test_v2;
    """,
    con=engine)

df = df.drop_duplicates(subset=['Station','Start Date','Param'])
df['Param'] = df['Param'].apply(lambda x: 'p' + x )
df = df.pivot(index=['Station','Start Date'], columns='Param', values='Result Value')

df = df.reset_index()
df = df.rename({'Station':'site_no', 'Start Date':'sample_dt'}, axis='columns')
df.columns.name=None
df['sample_dt'] = df['sample_dt'].dt.strftime('%Y-%m-%d')
df = df.set_index(['site_no','sample_dt'])


test = df.dropna(subset=['p00625','p00630']).copy()
test['p00600'] = test['p00625'] + test['p00630']
df.update(test[['p00600']], overwrite=False)


test = df.dropna(subset=['p00665','p00666']).copy()
test['p00667'] = test['p00665'] - test['p00666']
test=test['p00667'].clip(lower=0).to_frame()
df['p00667']=np.nan
df.update(test[['p00667']], overwrite=False)

In [21]:
df.shape # 2057 but down to 2035 in v5

(2035, 10)

In [25]:
df.to_sql('wrtds',
          con=engine,
          schema='nrec',
          if_exists ='append')

In [26]:
large_df = pd.read_sql_table('wrtds', con=engine, schema='nrec')#, index_col=['site_no','sample_dt'])
large_df = large_df.fillna('')
large_df['sample_dt'] = large_df['sample_dt'].astype(str)
large_df = large_df.set_index(['site_no','sample_dt'])



# drop instances with multiple samples on a day (though WRTDS-K can handle these)
large_df = large_df[~large_df.index.duplicated(keep='first')]
large_df = large_df.sort_index()

# this may not be needed
large_df.to_sql('wrtds', #XXX wrtds throws an error when I attempt to overwrite
                con=engine,
                schema='nrec',
                if_exists ='replace')

ProgrammingError: (psycopg2.errors.DuplicateTable) relation "ix_nrec_wrtds_sample_dt" already exists

[SQL: CREATE INDEX ix_nrec_wrtds_sample_dt ON nrec.wrtds (sample_dt)]
(Background on this error at: http://sqlalche.me/e/14/f405)

In [27]:
# if previous fails, write it here
# this may not be needed
large_df.to_sql('wrtds_transfer', #XXX wrtds throws an error when I attempt to overwrite
                con=engine,
                schema='nrec',
                if_exists ='replace')

In [28]:
# export database
from sqlalchemy import create_engine
engine2 = create_engine('sqlite:///C:\\Users\\thodson\\Desktop\\nrec.sqlite')
large_df.to_sql('wrtds', engine2, if_exists='replace')#, index=False)

# Scratch

In [ ]:
large_df.to_sql('wrtds_transfer',
                con=engine,
                schema='nrec',
                if_exists ='replace')

In [573]:
large_df = large_df[~large_df.index.duplicated(keep='first')]

In [ ]:
large_df.to_sql('wrtds',
                con=engine,
                schema='nrec',
                if_exists ='replace')

In [624]:
test = large_df.reset_index()

In [627]:
test = test.sort_values(['site_no','sample_dt']).set_index(['site_no','sample_dt'])

In [628]:
test.to_sql('wrtds_test3',
                con=engine,
                schema='nrec',
                if_exists ='replace')

In [448]:
large_df = large_df.fillna('')
#large_df['sample_dt'] = large_df['sample_dt'].astype(str)

#large_df = large_df.set_index(['site_no','sample_dt'])
large_df = large_df.sort_index()
# drop instances with multiple samples on a day

large_df.to_sql('wrtds',
                con=engine,
                schema='nrec',
                if_exists ='replace')

KeyError: 'sample_dt'

In [616]:
large_df.to_sql('wrtds_transfer',
                con=engine,
                schema='nrec',
                if_exists ='replace')

In [636]:
# export database
from sqlalchemy import create_engine
engine2 = create_engine('sqlite:///C:\\Users\\thodson\\Desktop\\nrec.sqlite')
large_df.to_sql('wrtds', engine2, if_exists='replace')#, index=False)

In [642]:
test = pd.read_sql_table('wrtds', engine2)

In [644]:
test.shape

(46423, 308)

# scratch

In [ ]:
#XXX do later
# calculate TN and PP
import numpy as np
test = df.dropna(subset=['p00625','p00630']).copy()
test['p00600'] = test['p00625'] + test['p00630']
df.update(test[['p00600']])


test = df.dropna(subset=['p00665','p00666']).copy()
test['p00667'] = test['p00665'] - test['p00666']
test=test['p00667'].clip(lower=0).to_frame()
df['p00667']=np.nan
df.update(test[['p00667']])

In [10]:
# not sure why I added these, were they station changes?
additional_sites = ['05572125','05552500','05593785']
usgs_sites = usgs_sites + additional_sites

param_list = ['00530','00600','00610','00625','00630','00665','00666','00667','80154','99220','00535']
# No 99220 found, probably because Chloride data had a different unit of measure
param_list = ['00530','00600','00610','00625','00630','00665','00666','00667','80154','00940','00535']

In [7]:
query = """
SELECT * FROM nrec.legacy_storet WHERE "Station" in ('{}')
AND "Param" in ('{}')
""".format("','".join(usgs_sites),
           "','".join(param_list))

In [8]:
df = pd.read_sql_query(query, engine)
df['Param'] = df['Param'].replace('00940','99220')

In [15]:

test = df[df['Station']=='05585000']

test = test[test['Param']=='00665']

array(['00530'], dtype=object)

In [38]:
query = """
SELECT site_no as "Station", sample_dt as "Start Date" FROM nrec.wrtds WHERE p00530 IS NOT NULL
AND site_no in ('{0}')
""".format(
           "','".join(usgs_gages)) #20210628 changed from usgs_sites

test = pd.read_sql_query(query, engine)

In [ ]:
query2 = """SELECT * FROM nrec.legacy_storet WHERE "Station" in ('{}')
AND "Param" in ('{}')
""".format("','".join(usgs_sites),
           parameter)

test = pd.read_sql_query(query, engine)

In [ ]:
df[['Station','Start Date','Param']].duplicated().count()

In [ ]:
## NOTE: this will miss sites that have been different USGS gage ID

## do the above for each parameter in parameter list and append
#query = """
#SELECT site_no as "Station", sample_dt as "Start Date" FROM nrec.wrtds WHERE p{0} IS NOT NULL
#AND site_no in ('{1}')
#""".format(parameter,
#           "','".join(usgs_sites))



param_list = ['00530','00535','00600','00610','00625','00630','00665','00666','00667','80154','009920']
param_list = ['00535']

for parameter in param_list:
    # select samples wrtds where site_no is in list of usgs gages
    query = """
    SELECT site_no as "Station", sample_dt as "Start Date" FROM nrec.wrtds WHERE p{0} IS NOT NULL
    AND site_no in ('{1}')
    """.format(parameter,
               "','".join(usgs_sites)) #20210628 changed from usgs_sites
    
    # select samples form legacy storet where station in list of 
    query2 = """SELECT * FROM nrec.legacy_storet WHERE "Station" in ('{}')
    AND "Param" in ('{}') AND "Agency" = '21ILAMB'
    """.format("','".join(usgs_sites),
               parameter)
    
    query3 = """
    SELECT * FROM ({}) as table1
    WHERE ("Station","Start Date")
    NOT IN ({})
    """.format(query2, query)
    

    df = pd.read_sql_query(query3, engine)
    
    # convert sites to gages
    
    # convert chloride
    if parameter == '00940':
        df['Param'] = '99220'

    df.to_sql('legacy_storet_missing',
              con=engine,
              schema='nrec',
              if_exists ='append')