In [14]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

# Setup database
Run this script only after data has been downloaded from STORET, NWIS, and Legacy STORET.
This script merges the three datasets into one

In [15]:
from datetime import date
project_name = 'ambient_2023'
print(project_name+ " last ran on " + date.today().strftime("%B %d, %Y"))

ambient_2023 last ran on June 27, 2022

In [16]:
import pandas as pd
import datetime
#from awqmn import storet, misc, crosswalk, trend

In [17]:
from ambient import storet, misc, crosswalk

In [18]:
from sqlalchemy import text
from sqlalchemy import create_engine
engine = create_engine('postgresql://postgres:Qwert213@localhost/postgres')

In [19]:
#site_filename='../../WY 2016 ambient sites.csv'
site_filename='../data/ambient_sites_v2023.csv'
site_df = pd.read_csv(site_filename, dtype={'USGS Code':str, 'USGS Gage':str})
#site_df = pd.read_excel(site_filename, sheet_name='AWQMN2016', dtype={'USGS Code':str})
units_df = pd.read_csv('../data/unit_conversion_table.csv', index_col=0)

#store_file = '../../data/amwqmn_2018_11_30.h5'
#store = pd.HDFStore(store_file)
#crosswalk_df = pd.read_csv('../data/parameter_dict.csv', keep_default_na=False)
crosswalk_df = pd.read_sql_table('srsnames_qwdata', con=engine, schema='nrec')
#crosswalk_df.loc[crosswalk_df[crosswalk.cols.frac] == 'Recoverable', crosswalk.cols.frac] = 'Total'

In [20]:
#(site_df['USGS Gage'] == 'LSLI2').sum()

In [21]:
crosswalk_df[crosswalk_df['resultsamplefraction']=='Suspended']

,parm_cd,description,characteristicname,measureunitcode,resultsamplefraction,resulttemperaturebasis,resultstatisticalbasis,resulttimebasis,resultweightbasis,resultparticlesizeibasis,last_rev_dt
62,1001,"Arsenic, suspended sediment, total, micrograms...",Arsenic,ug/l,Suspended,,,,,,2014-10-03
70,1031,"Chromium, suspended sediment, recoverable, mic...",Chromium,ug/l,Suspended,,,,,,2014-10-03
74,1044,"Iron, suspended sediment, recoverable, microgr...",Iron,ug/l,Suspended,,,,,,2014-10-03
77,1050,"Lead, suspended sediment, recoverable, microgr...",Lead,ug/l,Suspended,,,,,,2014-10-03
79,1054,"Manganese, suspended sediment, recoverable, mi...",Manganese,ug/l,Suspended,,,,,,2014-10-03
85,1081,"Strontium, suspended sediment, recoverable, mi...",Strontium,ug/l,Suspended,,,,,,2014-10-03
105,70331,"Suspended sediment, sieve diameter, percent sm...",Suspended sediment concentration (SSC),%,Suspended,,,,,< 0.0625 mm,2017-01-05
116,80154,"Suspended sediment concentration, milligrams p...",Suspended Sediment Concentration (SSC),mg/l,Suspended,,,,,,2014-10-03
117,80155,"Suspended sediment discharge, short tons per day",Suspended Sediment Discharge,tons/day,Suspended,,,,,,2016-06-30
192,667,"Phosphorus, suspended sediment, total, milligr...",Phosphorus,mg/l as P,Suspended,None,None,None,None,None,None

In [22]:
#site_df[site_df['USGS Gage']=='03346500']
site_df.iloc[25]

Unnamed: 0                                  26
SamplerOffice                         SMU_ISWS
StationCode                              BE-01
StreamName                      Embarras River
Location         Cr 620 N, 1.3 Mi E Of Billett
Pesticide                                  NaN
Chlorophyll                                NaN
LatDD                                 38.66493
LongDD                               -87.62639
TopoMapName                  Lawrenceville, IL
Topo75Num                                 235B
USGS Code                             03346550
AUID                                  IL_BE-01
HUC8                                   5120112
HUC10                              512011215.0
USGS Gage                             03346500
Name: 25, dtype: object

In [23]:
# clearn dirty data

sql_files = ['../sql/update_wqp.sql',
             '../sql/update_qwdata.sql',
             '../sql/update_stations.sql'] #may be unnecessary now

with engine.connect() as con:
    for sql_file in sql_files:
        with open(sql_file) as f:
            query = text(f.read())
            con.execute(query)
            
# DELETE FROM nrec.wqp WHERE "ActivityMediaName" != 'Water';

In [24]:
# run update_wqp.sql
# run update_qwdata.sql
# run update_stations.sql # XXX may be unnecessary with latest updates to WQP

# DELETE FROM nrec.wqp WHERE "ActivityMediaName" != 'Water';

In [25]:
from ambient import misc

In [26]:
misc.update_merged_storet_table(engine, site_df, crosswalk_df, units_df, schema=project_name, legacy=False)

In [29]:
#run update_merged_storet.sql
with engine.connect() as con:
    with open('../sql/update_merged_storet.sql') as f:
        query = text(f.read())
        con.execute(query)

In [30]:
misc.create_merged_result_table(engine, schema=project_name)

In [31]:
# create wrtds table
misc.create_wrtds_table(engine, crosswalk_df, schema=project_name)

In [32]:
misc.fill_merged_result_table(engine, site_df, crosswalk_df, units_df, schema=project_name, wrtds=True, results=False)
#misc.fill_merged_result_table(engine, site_df, crosswalk_df, units_df, wrtds=False)

In [37]:
#%debug

# THIS MIGHT BE SCRATCH

In [27]:
    site_name = 'IL_EPA_WQX-' + site[sites.cols.storet_id]
    query = f"""
    SELECT * FROM {schema}.merged_storet
    WHERE "MonitoringLocationIdentifier" = '{site_name}';
    """

NameError: name 'site' is not defined

In [28]:
query = """
SELECT "DetectionQuantitationLimitMeasure/MeasureValue" FROM ambient_2023.wqp WHERE 
"DetectionQuantitationLimitMeasure/MeasureValue" IS NOT NULL LIMIT 10;
"""
query = """
SELECT "DetectionQuantitationLimitMeasure/MeasureValue" FROM ambient_2023.merged_storet WHERE 
"DetectionQuantitationLimitMeasure/MeasureValue" IS NOT NULL LIMIT 10;
"""
storet_df = pd.read_sql_query(query, engine)

storet_df['DetectionQuantitationLimitMeasure/MeasureValue'].values.dtype

dtype('float64')

In [ ]:
# now run 1b. legacy storet to add legacy values

In [20]:
# add results for big muddy and lawrenceville (these were missing in first run)
#misc._fill_merged_result_table_for_site(engine, site_df.iloc[81], crosswalk_df, units_df, wrtds=True, results=False)
#misc._fill_merged_result_table_for_site(engine, site_df.iloc[25], crosswalk_df, units_df, wrtds=True, results=False)

In [11]:
df = pd.read_sql_query("""
SELECT DISTINCT "ResultSampleFractionText",
"CharacteristicName" FROM ambient.merged_storet
""", engine)

In [15]:
import pandas as pd
df = pd.read_sql_table('wrtds', con=engine, schema='nrec')
df['sample_dt'] = df['sample_dt'].dt.strftime('%Y-%m-%d')

In [28]:
from sqlalchemy import create_engine
engine2 = create_engine('sqlite:///C:\\Users\\thodson\\Desktop\\nrec.sqlite')
df.to_sql('wrtds', engine2, if_exists='replace', index=False)

In [24]:
import pandas as pd
df2 = pd.read_sql_table('wrtds', con=engine2)

In [25]:
df2.head()

,site_no,sample_dt,p71845,p80155,p39570,p01106,p00061,p00650,p01055,p01020,...,r01056,r01088,r70300,r91052,r00530,r39310,r01077,r00950,r00730,r39790
0,05586100,1974-12-12,NaN,NaN,NaN,NaN,NaN,NaN,150.0,NaN,...,,None,,,None,None,None,,None,None
1,05586100,1975-01-07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,None,None,,,None,None,None,,None,None
2,05586100,1975-02-11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,None,None,,,None,None,None,,None,None
3,05586100,1975-03-12,NaN,NaN,NaN,NaN,NaN,NaN,40.0,NaN,...,<,None,,,None,None,None,,None,None
4,05586100,1975-04-15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,None,None,,,None,None,None,,None,None

In [27]:
df2.site_no.unique().shape

(81,)

# Scratch