In [1]:
import os
import pandas as pd
from sqlalchemy import create_engine

In [2]:
# Build legacy storet database
# Data accessed at https://www3.epa.gov/storet/legacy/gateway.htm
#
#result_file_list = glob.glob('C:/Users/thodson/Desktop/Projects/nrec/data/legacy_storet/Illinois/Illinois/*/*_res_*') 
#
##build full database from legacy storet files
#dtype = {
#    'Start Time':str,
#    'End Time': str,
#    'Station': str,
#    'Param': str,
#    'HUC': str,
#    'CS': str,
#    'CM': str,
#    'Primary Activity Category' : str,
#    'Secondary Activity Category' : str
#}
#parse_dates = ['Start Date','End Date']
#
#for result_file in result_file_list:
#    df = pd.read_csv(result_file,
#                 sep='[ ]*\t+[ ]*',
#                 dtype=dtype,
#                 parse_dates=parse_dates,
#                 header=0, skiprows=[1])
#    # drop all non-numeric results
#    df['Result Value'] = pd.to_numeric(df['Result Value'], errors='coerce')
#    df = df.dropna(subset=['Result Value', 'Start Date'])
#    
#    df.to_sql('legacy_storet',
#              con=engine,
#              schema='nrec',
#              if_exists ='append')


##df = pd.read_sql_table('legacy_storet',
##                       con=engine,
##                       schema='nrec')

In [3]:
engine = create_engine('postgresql://postgres:Qwert213@localhost/postgres')

project_name = 'ambient_2023'

In [4]:
 # Scroll down to crosswalk section

In [5]:


#0 load site info from excel table

filename='../../data/ambient_sites_v2023.csv'
sites = pd.read_csv(filename, dtype={'USGS Code':str, 'USGS Gage':str})

storet_id = 'IL_EPA_WQX-' + sites['StationCode']

usgs_sites = sites['USGS Code']
#usgs_sites = usgs_sites[usgs_sites.values != 'nan'].values.tolist()
usgs_sites = usgs_sites[~usgs_sites.isna()].values.tolist()

usgs_gages = sites['USGS Gage']
#usgs_sites = usgs_sites[usgs_sites.values != 'nan'].values.tolist()
usgs_gages = usgs_gages[~usgs_gages.isna()].values.tolist()

In [6]:
# start here XXX
gage_rename = sites[['USGS Code','USGS Gage']].dropna()
usgs_sites = gage_rename['USGS Code']
usgs_gages = gage_rename['USGS Gage']

In [7]:
sites_with_different_gages_index = gage_rename['USGS Code'] != gage_rename['USGS Gage']

In [8]:
usgs_sites[sites_with_different_gages_index].to_list()

['05568005',
 '05577505',
 '03346550',
 '03343395',
 '03381495',
 '05554490',
 '05599500',
 '05593010',
 '05546700',
 '05553000']

In [9]:
# Select all samples associated with sites (where site number differs from gage number)
query = """SELECT * FROM {}.legacy_storet WHERE "Station" in ('{}') AND "Agency" = '21ILAMB'
""".format(project_name, "','".join(usgs_sites[sites_with_different_gages_index].to_list()))

samples_by_usgs_site = pd.read_sql_query(query, engine)
# move samples to gage

samples_by_usgs_site = samples_by_usgs_site.merge(gage_rename, how='inner', right_on='USGS Code', left_on='Station') 
samples_by_usgs_site['Station'] = samples_by_usgs_site['USGS Gage']
samples_by_usgs_site = samples_by_usgs_site.drop(['USGS Gage','USGS Code'], axis=1)

In [10]:
samples_by_usgs_site.shape #123433

(110247, 24)

In [11]:
# select all samples by usgs gage ID
query = """SELECT * FROM {}.legacy_storet WHERE "Station" in ('{}') AND "Agency" = '21ILAMB'
""".format(project_name, "','".join(usgs_gages))

samples_by_usgs_gage = pd.read_sql_query(query, engine)

In [12]:
samples_by_usgs_gage.shape #894323

(907509, 24)

In [13]:
#samples_by_usgs_gage = samples_by_usgs_gage.append(samples_by_usgs_site)
samples_by_usgs_gage = pd.concat([samples_by_usgs_gage, samples_by_usgs_site])
samples_by_usgs_gage = samples_by_usgs_gage.replace({'00940':'99220'})
samples_by_usgs_gage.to_sql('legacy_storet_temp',
            con=engine,
            schema=project_name,
            if_exists ='replace')
#756

756

In [15]:
samples_by_usgs_gage.shape #1017756
#append
# drop duplicates

(1017756, 24)

In [16]:
# select mislabeld samples and append to legacy_storet_temp XXX
station_rename = sites[['StationCode','USGS Gage']].dropna()
station_rename['StationCode'] = station_rename['StationCode'].str.replace('-',' ')

other_legacy_sites = [
    ['DT      01', '05552500']
]
other_legacy_sites = pd.DataFrame(other_legacy_sites, columns=['StationCode','USGS Gage'])

station_rename = station_rename.append(other_legacy_sites)

query = """SELECT * FROM {}.legacy_storet WHERE "Station" in ('{}')
""".format(project_name, "','".join(station_rename['StationCode'].to_list()))

missing_samples = pd.read_sql_query(query, engine)
missing_samples = missing_samples.replace({'00940':'99220'})
# rename Stations to match USGS gages
station_rename_dict = {row['StationCode']:row['USGS Gage'] for index, row in station_rename.iterrows()}
missing_samples['Station'] = missing_samples['Station'].replace(station_rename_dict)

missing_samples.to_sql('legacy_storet_temp',
            con=engine,
            schema=project_name,
            if_exists ='append')

#679

C:\Users\thodson\AppData\Local\Temp\2\ipykernel_30332\4046451299.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  station_rename = station_rename.append(other_legacy_sites)

679

In [17]:
missing_samples.shape #1679

(1679, 24)

In [18]:
xxx = pd.read_sql_table('legacy_storet_temp',con=engine, schema='ambient_2023') # was nrec
xxx.shape #was (1027031
#1019435

(1019435, 25)

In [19]:
# verify legacy_storet_temp
test = xxx[xxx['Station'] == '03339000']['Start Date']
test.values.sort()
test

767026   1965-01-12
767027   1965-01-12
767028   1965-01-12
767029   1965-12-10
767030   1965-12-10
            ...
804701   1998-12-10
804702   1998-12-10
804703   1998-12-10
804704   1998-12-10
804705   1998-12-10
Name: Start Date, Length: 13707, dtype: datetime64[ns]

In [20]:
project_name

'ambient_2023'

In [21]:
missing_samples['Param'].unique()
#missing_samples

array(['01003', '01052', '01053', '01068', '32211', '32212', '32214',
       '39350', '39351', '39356', '39359', '00116', '00339', '01008',
       '01043', '01078', '01170', '32210', '39076', '39111', '39300',
       '39301', '39305', '39306', '00627', '00668', '00938', '01028',
       '01029', '01093', '32218', '39032', '39062', '39064', '39370',
       '39380', '39383', '39310', '39311', '39315', '39316', '39320',
       '39321', '39327', '39328', '39330', '39333', '39337', '39340',
       '39343', '39390', '39393', '39413', '39423', '39480', '39481',
       '71921', '81284', '81294', '81403', '81408', '81410', '81757',
       '82088', '39519', '39701', '39783', '70322', '39065', '39067',
       '39070', '39073', '39516', '39530', '39570', '39600', '39630',
       '39640', '39700', '77825', '46313', '00010', '00020', '00301',
       '00610', '00612', '00619', '00299', '00400', '00625', '00027',
       '00028', '00076', '00094', '00410', '00530', '00535', '00666',
       '00720', '99220', '00945', '00951', '01002', '01030', '01034',
       '01035', '00900', '00929', '00930', '00935', '00937', '01020',
       '01022', '01025', '01027', '01040', '00630', '00665', '00915',
       '00916', '00925', '00927', '01005', '01007', '01010', '01037',
       '01065', '01067', '01075', '01077', '01080', '31616', '32730',
       '46570', '01042', '01045', '01046', '01082', '01085', '01087',
       '01090', '01092', '71900', '01012', '01049', '01051', '01055',
       '01056', '01105', '01106', '01147', '46489'], dtype=object)

In [22]:
# delete existing table
with engine.connect() as con:
    con.execute(f"""DROP TABLE {project_name}.legacy_storet_cleaned;""")

In [23]:
## do the above for each parameter in parameter list and append
#query = """
#SELECT site_no as "Station", sample_dt as "Start Date" FROM nrec.wrtds WHERE p{0} IS NOT NULL
#AND site_no in ('{1}')
#""".format(parameter,
#           "','".join(usgs_sites))

# list must contain entries in the cleaned qwdata table. Cleaning moves 631 to 630; 631 doesn't appear in my legacy
param_list = ['00530','00535','00600','00610','00625','00630','00665','00666','00667', '00946', '80154','99220','01045','01046']
#param_list = ['00665']

for parameter in param_list:
    # select samples wrtds where site_no is in list of usgs gages
    #SELECT site_no as "Station", TO_TIMESTAMP(sample_dt, 'YYYY-MM-DD') AT TIME ZONE 'CST' as "Start Date" FROM nrec.wrtds WHERE p{0} IS NOT NULL 
    query = """
    SELECT site_no as "Station", TO_DATE(cast(sample_dt as TEXT), 'YYYY-MM-DD') as "Start Date" FROM {0}.wrtds WHERE p{1} IS NOT NULL    
    AND site_no in ('{2}')
    """.format(project_name, parameter,
               "','".join(usgs_gages)) #20210628 changed from usgs_sites
    
    # select samples form legacy storet where station in list of 
    query2 = """SELECT * FROM {0}.legacy_storet_temp WHERE "Station" in ('{1}')
    AND "Param" in ('{2}') AND "Agency" = '21ILAMB'
    """.format(project_name, "','".join(usgs_gages),
               parameter)
    
    query3 = """
    SELECT * FROM ({}) as table1
    WHERE ("Station","Start Date")
    NOT IN ({})
    """.format(query2, query)
    

    df = pd.read_sql_query(query3, engine)
    
    #df.to_sql('legacy_storet_missing_test',
    # append each parameter to list
    df.to_sql('legacy_storet_cleaned',
              con=engine,
              schema=project_name,
              if_exists='append')

# check in pg admin
# select "Start Date" FROM nrec.legacy_storet_missing_test_v2 WHERE "Station"='05568000' AND "Param"='00630' ORDER BY "Start Date" DESC;

In [24]:
# delete temporary table
with engine.connect() as con:
    con.execute(f"""DROP TABLE {project_name}.legacy_storet_temp;""")

# scratch