In [1]:
import os
import pandas as pd
from sqlalchemy import create_engine

In [2]:
# Build legacy storet database
# Data accessed at https://www3.epa.gov/storet/legacy/gateway.htm
#
#result_file_list = glob.glob('C:/Users/thodson/Desktop/Projects/nrec/data/legacy_storet/Illinois/Illinois/*/*_res_*') 
#
##build full database from legacy storet files
#dtype = {
#    'Start Time':str,
#    'End Time': str,
#    'Station': str,
#    'Param': str,
#    'HUC': str,
#    'CS': str,
#    'CM': str,
#    'Primary Activity Category' : str,
#    'Secondary Activity Category' : str
#}
#parse_dates = ['Start Date','End Date']
#
#for result_file in result_file_list:
#    df = pd.read_csv(result_file,
#                 sep='[ ]*\t+[ ]*',
#                 dtype=dtype,
#                 parse_dates=parse_dates,
#                 header=0, skiprows=[1])
#    # drop all non-numeric results
#    df['Result Value'] = pd.to_numeric(df['Result Value'], errors='coerce')
#    df = df.dropna(subset=['Result Value', 'Start Date'])
#    
#    df.to_sql('legacy_storet',
#              con=engine,
#              schema='nrec',
#              if_exists ='append')


##df = pd.read_sql_table('legacy_storet',
##                       con=engine,
##                       schema='nrec')

In [3]:
engine = create_engine('postgresql://postgres:Qwert213@localhost/postgres')

project_name = 'ambient_2023'

In [4]:
 # Scroll down to crosswalk section

In [5]:


#0 load site info from excel table

filename='../../data/ambient_sites_v2023.csv'
sites = pd.read_csv(filename, dtype={'USGS Code':str, 'USGS Gage':str})

storet_id = 'IL_EPA_WQX-' + sites['StationCode']

usgs_sites = sites['USGS Code']
#usgs_sites = usgs_sites[usgs_sites.values != 'nan'].values.tolist()
usgs_sites = usgs_sites[~usgs_sites.isna()].values.tolist()

usgs_gages = sites['USGS Gage']
#usgs_sites = usgs_sites[usgs_sites.values != 'nan'].values.tolist()
usgs_gages = usgs_gages[~usgs_gages.isna()].values.tolist()

In [6]:
# start here XXX
gage_rename = sites[['USGS Code','USGS Gage']].dropna()
usgs_sites = gage_rename['USGS Code']
usgs_gages = gage_rename['USGS Gage']

In [7]:
sites_with_different_gages_index = gage_rename['USGS Code'] != gage_rename['USGS Gage']

In [9]:
usgs_sites[sites_with_different_gages_index].to_list()

['05563800',
 '05568005',
 '05577505',
 '03346550',
 '03343395',
 '03381495',
 '05554490',
 '05599500',
 '05593010',
 '05546700',
 '05553000']

In [10]:
# Select all samples associated with sites (where site number differs from gage number)
query = """SELECT * FROM {}.legacy_storet WHERE "Station" in ('{}') AND "Agency" = '21ILAMB'
""".format(project_name, "','".join(usgs_sites[sites_with_different_gages_index].to_list()))

samples_by_usgs_site = pd.read_sql_query(query, engine)
# move samples to gage

samples_by_usgs_site = samples_by_usgs_site.merge(gage_rename, how='inner', right_on='USGS Code', left_on='Station') 
samples_by_usgs_site['Station'] = samples_by_usgs_site['USGS Gage']
samples_by_usgs_site = samples_by_usgs_site.drop(['USGS Gage','USGS Code'], axis=1)

In [11]:
samples_by_usgs_site.shape #123433

(123433, 24)

In [12]:
# select all samples by usgs gage ID
query = """SELECT * FROM {}.legacy_storet WHERE "Station" in ('{}') AND "Agency" = '21ILAMB'
""".format(project_name, "','".join(usgs_gages))

samples_by_usgs_gage = pd.read_sql_query(query, engine)

In [13]:
samples_by_usgs_gage.shape #894323

(894323, 24)

In [14]:
#samples_by_usgs_gage = samples_by_usgs_gage.append(samples_by_usgs_site)
samples_by_usgs_gage = pd.concat([samples_by_usgs_gage, samples_by_usgs_site])
samples_by_usgs_gage = samples_by_usgs_gage.replace({'00940':'99220'})
samples_by_usgs_gage.to_sql('legacy_storet_temp',
            con=engine,
            schema=project_name,
            if_exists ='replace')
#756

756

In [15]:
samples_by_usgs_gage.shape #1017756
#append
# drop duplicates

(1017756, 24)

In [16]:
# select mislabeld samples and append to legacy_storet_temp XXX
station_rename = sites[['StationCode','USGS Gage']].dropna()
station_rename['StationCode'] = station_rename['StationCode'].str.replace('-',' ')

other_legacy_sites = [
    ['DT      01', '05552500']
]
other_legacy_sites = pd.DataFrame(other_legacy_sites, columns=['StationCode','USGS Gage'])

station_rename = station_rename.append(other_legacy_sites)

query = """SELECT * FROM {}.legacy_storet WHERE "Station" in ('{}')
""".format(project_name, "','".join(station_rename['StationCode'].to_list()))

missing_samples = pd.read_sql_query(query, engine)
missing_samples = missing_samples.replace({'00940':'99220'})
# rename Stations to match USGS gages
station_rename_dict = {row['StationCode']:row['USGS Gage'] for index, row in station_rename.iterrows()}
missing_samples['Station'] = missing_samples['Station'].replace(station_rename_dict)

missing_samples.to_sql('legacy_storet_temp',
            con=engine,
            schema=project_name,
            if_exists ='append')

#679

C:\Users\thodson\AppData\Local\Temp\1\ipykernel_113980\4046451299.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  station_rename = station_rename.append(other_legacy_sites)

679

In [33]:
missing_samples.shape #1679

(1679, 24)

In [18]:
xxx = pd.read_sql_table('legacy_storet_temp',con=engine, schema='ambient_2023') # was nrec
xxx.shape #was (1027031
#1019435

(1019435, 25)

In [19]:
# verify legacy_storet_temp
test = xxx[xxx['Station'] == '03339000']['Start Date']
test.values.sort()
test

753934   1965-01-12
753935   1965-01-12
753936   1965-01-12
753937   1965-12-10
753938   1965-12-10
            ...
790976   1998-12-10
790977   1998-12-10
790978   1998-12-10
790979   1998-12-10
790990   1998-12-10
Name: Start Date, Length: 13707, dtype: datetime64[ns]

In [20]:
project_name

'ambient_2023'

In [36]:
missing_samples['Param'].unique()
#missing_samples

array(['00116', '00339', '00627', '00668', '01028', '00938', '01003',
       '01008', '01029', '01052', '01043', '01053', '01068', '01078',
       '01093', '01170', '32212', '32210', '32211', '32218', '32214',
       '39032', '39076', '39062', '39064', '39065', '39067', '39070',
       '39073', '39301', '39300', '39111', '39305', '39306', '39311',
       '39310', '39316', '39315', '39320', '39330', '39321', '39327',
       '39328', '39333', '39343', '39340', '39337', '39350', '39351',
       '39359', '39356', '39393', '39370', '39380', '39383', '39390',
       '39480', '39413', '39423', '39519', '39481', '39516', '39530',
       '39600', '39701', '39570', '39700', '39630', '39640', '70322',
       '46313', '39783', '71921', '81294', '77825', '81284', '81408',
       '81403', '82088', '81410', '81757', '00027', '00010', '00020',
       '00076', '00028', '00530', '00094', '00299', '00400', '00301',
       '00410', '00535', '00630', '00612', '00619', '00625', '00610',
       '00666', '00665', '00900', '00720', '00927', '00916', '00925',
       '00915', '00935', '00929', '00930', '99220', '00937', '00945',
       '01005', '01002', '00951', '01022', '01010', '01012', '01007',
       '01020', '01025', '01027', '01035', '01030', '01034', '01037',
       '01042', '01040', '01045', '01065', '01056', '01046', '01049',
       '01051', '01055', '01067', '01075', '01077', '01082', '01080',
       '01085', '31616', '01090', '01092', '01106', '01087', '01105',
       '01147', '32730', '46570', '71900', '46489'], dtype=object)

In [38]:
# delete existing table
with engine.connect() as con:
    con.execute(f"""DROP TABLE {project_name}.legacy_storet_cleaned;""")

In [39]:
## do the above for each parameter in parameter list and append
#query = """
#SELECT site_no as "Station", sample_dt as "Start Date" FROM nrec.wrtds WHERE p{0} IS NOT NULL
#AND site_no in ('{1}')
#""".format(parameter,
#           "','".join(usgs_sites))

# list must contain entries in the cleaned qwdata table. Cleaning moves 631 to 630; 631 doesn't appear in my legacy
param_list = ['00530','00535','00600','00610','00625','00630','00665','00666','00667', '00946', '80154','99220']
#param_list = ['00665']

for parameter in param_list:
    # select samples wrtds where site_no is in list of usgs gages
    #SELECT site_no as "Station", TO_TIMESTAMP(sample_dt, 'YYYY-MM-DD') AT TIME ZONE 'CST' as "Start Date" FROM nrec.wrtds WHERE p{0} IS NOT NULL 
    query = """
    SELECT site_no as "Station", TO_DATE(cast(sample_dt as TEXT), 'YYYY-MM-DD') as "Start Date" FROM {0}.wrtds WHERE p{1} IS NOT NULL    
    AND site_no in ('{2}')
    """.format(project_name, parameter,
               "','".join(usgs_gages)) #20210628 changed from usgs_sites
    
    # select samples form legacy storet where station in list of 
    query2 = """SELECT * FROM {0}.legacy_storet_temp WHERE "Station" in ('{1}')
    AND "Param" in ('{2}') AND "Agency" = '21ILAMB'
    """.format(project_name, "','".join(usgs_gages),
               parameter)
    
    query3 = """
    SELECT * FROM ({}) as table1
    WHERE ("Station","Start Date")
    NOT IN ({})
    """.format(query2, query)
    

    df = pd.read_sql_query(query3, engine)
    
    #df.to_sql('legacy_storet_missing_test',
    # append each parameter to list
    df.to_sql('legacy_storet_cleaned',
              con=engine,
              schema=project_name,
              if_exists='append')

# check in pg admin
# select "Start Date" FROM nrec.legacy_storet_missing_test_v2 WHERE "Station"='05568000' AND "Param"='00630' ORDER BY "Start Date" DESC;

In [40]:
# delete temporary table
with engine.connect() as con:
    con.execute(f"""DROP TABLE {project_name}.legacy_storet_temp;""")

In [ ]:
#scratch

In [123]:
#parameter = '00665'
#
#query = """
#    SELECT site_no as "Station", TO_DATE(cast(sample_dt as TEXT), 'YYYY-MM-DD') as "Start Date" FROM {0}.wrtds WHERE p{1} IS NOT NULL    
#    AND site_no in ('03339000')
#    """.format(project_name, parameter) #20210628 changed from usgs_sites
#    
#    # select samples form legacy storet where station in list of 
#query2 = """SELECT * FROM {0}.legacy_storet_temp WHERE "Station" in ('03339000')
#    AND "Param" in ('{1}') AND "Agency" = '21ILAMB'
#    """.format(project_name, parameter)
#    
#query3 = """
#    SELECT * FROM ({}) as table1
#    WHERE ("Station","Start Date")
#    NOT IN ({})
#    """.format(query2, query)
#    
#
#df = pd.read_sql_query(query3, engine)

In [124]:
# rdf

Empty DataFrame
Columns: [index, Agency, Station, Station Name, Agency Name, State Name, County Name, Latitude, Longitude, Result Value, R, HUC, Param, Start Date, Start Time, End Date, End Time, Sample Depth, UMK, Replicate Number, CS, COMPOSITE_GRAB_NUMBER, CM, Primary Activity Category, Secondary Activity Category]
Index: []

[0 rows x 25 columns]

In [128]:
test = pd.read_sql_table(query, engine)
test.tail()
#x = test['Start Date'].values
#x.sort()
#x[0]

      Station  Start Date
604  03339000  2022-02-22
605  03339000  2022-03-07
606  03339000  2022-03-30
607  03339000  2022-03-31
608  03339000  2022-05-06

In [126]:
#test = pd.read_sql_query(query2, engine)
#out = test['Start Date'].values
#out.sort()
#out[0]
##test[['Station','Start Date']]

numpy.datetime64('1978-04-11T00:00:00.000000000')

In [103]:
test = pd.read_sql_query(query, engine)
test['Start Date']

0        1977-12-29
1        1978-03-28
2        1978-04-12
3        1978-05-18
4        1978-06-01
            ...
40171    2020-03-04
40172    2020-11-30
40173    2021-01-04
40174    2021-03-09
40175    2021-04-13
Name: Start Date, Length: 40176, dtype: object

In [76]:
# VERIFICATION

query2= """SELECT * FROM {0}.legacy_storet_temp WHERE "Station" in ('03339000')
    """.format(project_name, "','".join(usgs_gages))

test = pd.read_sql_query(query2, engine)
dates = test['Start Date'].values
dates.sort()
dates
#xxx = test[test['Station']=='03339000']['Start Date']
#xxx.values.sort()
#xxx

array(['1965-01-12T00:00:00.000000000', '1965-01-12T00:00:00.000000000',
       '1965-01-12T00:00:00.000000000', ...,
       '1998-12-10T00:00:00.000000000', '1998-12-10T00:00:00.000000000',
       '1998-12-10T00:00:00.000000000'], dtype='datetime64[ns]')

In [79]:
# VERIFICATION

query3= """SELECT * FROM {0}.legacy_storet_cleaned WHERE "Station" in ('03339000')
    """.format(project_name, "','".join(usgs_gages))

test = pd.read_sql_query(query3, engine)

#dates = test['Start Date'].values
#dates.sort()
#dates
#xxx = test[test['Station']=='03339000']['Start Date']
#xxx.values.sort()
#xxx
test

Empty DataFrame
Columns: [level_0, index, Agency, Station, Station Name, Agency Name, State Name, County Name, Latitude, Longitude, Result Value, R, HUC, Param, Start Date, Start Time, End Date, End Time, Sample Depth, UMK, Replicate Number, CS, COMPOSITE_GRAB_NUMBER, CM, Primary Activity Category, Secondary Activity Category]
Index: []

[0 rows x 26 columns]

In [ ]:
# delete temporary table
with engine.connect() as con:
    con.execute(f"""DROP TABLE {project_name}.legacy_storet_temp;""")

In [500]:
#xxx = pd.read_sql_table('legacy_storet_missing_test_v2',con=engine)
#xxx.shape

In [ ]:
# move the next section to 03_merge_legacy_data

# Scratch