# Cross Walk
presumably this comes after running 02_merge_database?

In [1]:
import os
import pandas as pd
from sqlalchemy import create_engine
from datetime import date

In [2]:
from sqlalchemy import text
from sqlalchemy import create_engine
engine = create_engine('postgresql://postgres:Qwert213@localhost/postgres')

project_name = 'ambient_2023'
print(project_name+ " last ran on " + date.today().strftime("%B %d, %Y"))

ambient_2023 last ran on January 13, 2023

In [3]:
df = pd.read_sql_query(
    f"""
    SELECT * FROM {project_name}.legacy_storet_cleaned;
    """,
    con=engine)
df.head()

,level_0,index,Agency,Station,Station Name,Agency Name,State Name,County Name,Latitude,Longitude,...,End Date,End Time,Sample Depth,UMK,Replicate Number,CS,COMPOSITE_GRAB_NUMBER,CM,Primary Activity Category,Secondary Activity Category
0,0,2873,21ILAMB,05495500,"BEAR CREEK NEAR MARCELLINE, IL / UPPER MISSISS...",ILLINOIS EPA,Illinois,Adams,40.142778,-91.337222,...,None,None,None,None,None,None,None,B,None,None
1,1,2874,21ILAMB,05495500,"BEAR CREEK NEAR MARCELLINE, IL / UPPER MISSISS...",ILLINOIS EPA,Illinois,Adams,40.142778,-91.337222,...,None,None,None,None,None,None,None,B,None,None
2,2,2875,21ILAMB,05495500,"BEAR CREEK NEAR MARCELLINE, IL / UPPER MISSISS...",ILLINOIS EPA,Illinois,Adams,40.142778,-91.337222,...,None,None,None,None,None,None,None,B,None,None
3,3,2876,21ILAMB,05495500,"BEAR CREEK NEAR MARCELLINE, IL / UPPER MISSISS...",ILLINOIS EPA,Illinois,Adams,40.142778,-91.337222,...,None,None,None,None,None,None,None,B,None,None
4,4,2877,21ILAMB,05495500,"BEAR CREEK NEAR MARCELLINE, IL / UPPER MISSISS...",ILLINOIS EPA,Illinois,Adams,40.142778,-91.337222,...,None,None,None,None,None,None,None,B,None,None

In [4]:
#XXX make sure table name matches previous storet_missing_test
import numpy as np
df = pd.read_sql_query(
    f"""
    SELECT * FROM {project_name}.legacy_storet_cleaned;
    """,
    con=engine)

df = df.drop_duplicates(subset=['Station','Start Date','Param'])
df['Param'] = df['Param'].apply(lambda x: 'p' + x )
df = df.pivot(index=['Station','Start Date'], columns='Param', values='Result Value')

df = df.reset_index()
df = df.rename({'Station':'site_no', 'Start Date':'sample_dt'}, axis='columns')
df.columns.name=None
df['sample_dt'] = df['sample_dt'].dt.strftime('%Y-%m-%d')
df = df.set_index(['site_no','sample_dt'])


test = df.dropna(subset=['p00625','p00630']).copy()
test['p00600'] = test['p00625'] + test['p00630']
df.update(test[['p00600']], overwrite=False)


test = df.dropna(subset=['p00665','p00666']).copy()
test['p00667'] = test['p00665'] - test['p00666']
test=test['p00667'].clip(lower=0).to_frame()
df['p00667']=np.nan
df.update(test[['p00667']], overwrite=False)

In [5]:
df.head()

                     p00530  p00535  p00610  p00625  p00630  p00665  p00666  \
site_no  sample_dt
03336645 1978-11-30     NaN     NaN     NaN     NaN     NaN     NaN     NaN
         1978-12-21     NaN     NaN     NaN     NaN     NaN     NaN     NaN
         1979-01-11     NaN     NaN     NaN     NaN     NaN     NaN     NaN
         1979-02-07     NaN     NaN     NaN     NaN     NaN     NaN     NaN
         1979-03-22     NaN     NaN     NaN     NaN     NaN     NaN     NaN

                     p01045  p01046  p80154  p99220  p00667
site_no  sample_dt
03336645 1978-11-30     NaN     NaN     NaN    30.0     NaN
         1978-12-21     NaN     NaN     NaN    32.0     NaN
         1979-01-11     NaN     NaN     NaN    30.0     NaN
         1979-02-07     NaN     NaN     NaN    29.0     NaN
         1979-03-22     NaN     NaN     NaN    21.0     NaN

In [6]:
##df['Start Date'].min()
#test = df[df['Station'] == '03339000']['Start Date']
#test.values.sort()
#test

In [7]:
## XXX something is wrong, this shouldn't be all samples
#df = pd.read_sql_query(
#    f"""
#    SELECT * FROM {project_name}.legacy_storet_cleaned;
#    """,
#    con=engine)
##df.shape # 2057 but down to 2035 in v5
##df.loc['03339000']
#df.head()
#df.shape

In [8]:
df2 = pd.read_sql_query(
    f"""
    SELECT * FROM {project_name}.wrtds;
    """,
    con=engine)

df2 = df2.set_index(['site_no','sample_dt'])
df2.shape

(38583, 302)

In [9]:
# Are any legacy samples indeces in the wrtds table? If false, then a simple append is fine
df2.index.isin(df.index).any()

False

In [10]:
# Does nothing if previous is false;
# if false, simply append
#df2.update(df)

In [11]:
large_df = pd.concat([df, df2], join='outer', axis=0)
large_df = large_df.fillna('')
# drop instances with multiple samples on a day (though WRTDS-K can handle these)
large_df = large_df[~large_df.index.duplicated(keep='first')]
large_df = large_df.sort_index().reset_index()
large_df['sample_dt'] = large_df['sample_dt'].astype(str)

In [12]:
# this may not be needed
large_df.to_sql('wrtds_out', #XXX wrtds throws an error when I attempt to overwrite
                con=engine,
                schema=project_name,
                if_exists ='replace')

554

In [13]:
# export database
from sqlalchemy import create_engine
#engine2 = create_engine(f'sqlite:///C:\\Users\\thodson\\Desktop\\{project_name}.sqlite')
engine2 = create_engine(f'sqlite:///C:\\Users\\thodson\\OneDrive - DOI\\Desktop\\{project_name}.sqlite')

large_df.to_sql('wrtds', engine2, if_exists='replace')#, index=False)

49554

# SCRATCH

In [33]:
# drop instances with multiple samples on a day (though WRTDS-K can handle these)
large_df = large_df[~large_df.index.duplicated(keep='first')]
large_df = large_df.sort_index().reset_index()
large_df['sample_dt'] = large_df['sample_dt'].astype(str)

In [34]:
large_df['sample_dt']

0        1977-12-29
1        1978-03-28
2        1978-04-12
3        1978-05-18
4        1978-06-01
            ...
49426    1998-06-17
49427    1998-07-21
49428    1998-08-27
49429    1998-10-08
49430    1998-12-01
Name: sample_dt, Length: 49431, dtype: object

In [12]:

df.to_sql('wrtds',
          con=engine,
          schema=project_name,
          if_exists ='append')

968

In [14]:
large_df = pd.read_sql_table('wrtds', con=engine, schema=project_name)#, index_col=['site_no','sample_dt'])
large_df = large_df.fillna('')
large_df['sample_dt'] = large_df['sample_dt'].astype(str)
large_df = large_df.set_index(['site_no','sample_dt'])



# drop instances with multiple samples on a day (though WRTDS-K can handle these)
large_df = large_df[~large_df.index.duplicated(keep='first')]
large_df = large_df.sort_index()

# this may not be needed
large_df.to_sql('wrtds_out', #XXX wrtds throws an error when I attempt to overwrite
                con=engine,
                schema=project_name,
                if_exists ='replace')
#176

ValueError: Table wrtds not found

In [28]:
# if previous fails, write it here
# this may not be needed
#large_df.to_sql('wrtds_transfer', #XXX wrtds throws an error when I attempt to overwrite
#                con=engine,
#                schema=project_name,
#                if_exists ='replace')

In [29]:
# export database
from sqlalchemy import create_engine
engine2 = create_engine(f'sqlite:///C:\\Users\\thodson\\OneDrive - DOI\\Desktop\\{project_name}.sqlite')
large_df.to_sql('wrtds', engine2, if_exists='replace')#, index=False)

40176

# Scratch