# Cross Walk
presumably this comes after running 02_merge_database?

In [1]:
import os
import pandas as pd
from sqlalchemy import create_engine

In [2]:
from sqlalchemy import text
from sqlalchemy import create_engine
engine = create_engine('postgresql://postgres:Qwert213@localhost/postgres')

project_name = 'ambient_2023'

In [3]:
#XXX make sure table name matches previous storet_missing_test
import numpy as np
df = pd.read_sql_query(
    f"""
    SELECT * FROM {project_name}.legacy_storet_cleaned;
    """,
    con=engine)

df = df.drop_duplicates(subset=['Station','Start Date','Param'])
df['Param'] = df['Param'].apply(lambda x: 'p' + x )
df = df.pivot(index=['Station','Start Date'], columns='Param', values='Result Value')

df = df.reset_index()
df = df.rename({'Station':'site_no', 'Start Date':'sample_dt'}, axis='columns')
df.columns.name=None
df['sample_dt'] = df['sample_dt'].dt.strftime('%Y-%m-%d')
df = df.set_index(['site_no','sample_dt'])


test = df.dropna(subset=['p00625','p00630']).copy()
test['p00600'] = test['p00625'] + test['p00630']
df.update(test[['p00600']], overwrite=False)


test = df.dropna(subset=['p00665','p00666']).copy()
test['p00667'] = test['p00665'] - test['p00666']
test=test['p00667'].clip(lower=0).to_frame()
df['p00667']=np.nan
df.update(test[['p00667']], overwrite=False)

In [4]:
df.head()

                     p00530  p00535  p00600  p00610  p00625   p00630  p00665  \
site_no  sample_dt
03336645 1977-12-29     NaN     NaN     NaN     NaN     NaN  6.99999     NaN
         1978-03-28     NaN     NaN     NaN     NaN     NaN  4.20000     NaN
         1978-04-12     NaN     NaN     NaN     NaN     NaN  6.39999     NaN
         1978-05-18     NaN     NaN     NaN     NaN     NaN  7.59999     NaN
         1978-06-01     NaN     NaN     NaN     NaN     NaN  5.29999     NaN

                     p00666  p00946  p80154  p99220  p00667
site_no  sample_dt
03336645 1977-12-29     NaN     NaN     NaN     NaN     NaN
         1978-03-28     NaN     NaN     NaN     NaN     NaN
         1978-04-12     NaN     NaN     NaN     NaN     NaN
         1978-05-18     NaN     NaN     NaN     NaN     NaN
         1978-06-01     NaN     NaN     NaN     NaN     NaN

In [5]:
# XXX something is wrong, this shouldn't be all samples
df.shape # 2057 but down to 2035 in v5

(16706, 12)

In [6]:
df2 = pd.read_sql_query(
    f"""
    SELECT * FROM {project_name}.wrtds;
    """,
    con=engine)

df2 = df2.set_index(['site_no','sample_dt'])
df2.shape

(36359, 304)

False

In [24]:
#df2.loc['03336645']

,p80155,p39570,p77825,p01106,p00630,p00665,p01082,p39390,p52504,p00061,...,r00530,r39310,r01077,r00950,r00916,r00608,r39356,r00925,r01007,r00453
sample_dt,,,,,,,,,,,,,,,,,,,,,
1982-04-08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,,None,None,None,None,None,None,None,None,None
1982-05-13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,,None,None,None,None,None,None,None,None,None
1982-06-16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,,None,None,None,None,None,None,None,None,None
1982-08-12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,,None,None,None,None,None,None,None,None,None
1982-09-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,,None,None,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-06-28,NaN,NaN,NaN,151.0,7.900,0.383,55.9,NaN,2670.0,NaN,...,,None,<,None,None,None,None,None,,None
2021-07-08,NaN,NaN,NaN,50.0,5.910,0.088,120.0,NaN,7300.0,NaN,...,,None,<,None,None,None,None,None,,None
2021-08-02,NaN,NaN,NaN,50.0,2.110,0.015,146.0,NaN,10000.0,NaN,...,,None,<,None,None,None,None,None,,None
2021-08-09,NaN,NaN,NaN,50.0,0.793,0.014,151.0,NaN,12300.0,NaN,...,,None,<,None,None,None,None,None,,None
2021-09-07,NaN,NaN,NaN,50.0,0.497,0.043,179.0,NaN,12700.0,NaN,...,<,None,<,None,None,None,None,None,,None

In [22]:
# Are any legacy samples indeces in the wrtds table? If false, then a simple append is fine
df2.index.isin(df.index).any()

In [23]:
# Does nothing if previous is false
df2.update(df)
df2.shape

(36359, 304)

In [32]:

df.to_sql('wrtds',
          con=engine,
          schema=project_name,
          if_exists ='append')

706

In [33]:
large_df = pd.read_sql_table('wrtds', con=engine, schema=project_name)#, index_col=['site_no','sample_dt'])
large_df = large_df.fillna('')
large_df['sample_dt'] = large_df['sample_dt'].astype(str)
large_df = large_df.set_index(['site_no','sample_dt'])



# drop instances with multiple samples on a day (though WRTDS-K can handle these)
large_df = large_df[~large_df.index.duplicated(keep='first')]
large_df = large_df.sort_index()

# this may not be needed
large_df.to_sql('wrtds', #XXX wrtds throws an error when I attempt to overwrite
                con=engine,
                schema=project_name,
                if_exists ='replace')

176

In [9]:
# if previous fails, write it here
# this may not be needed
#large_df.to_sql('wrtds_transfer', #XXX wrtds throws an error when I attempt to overwrite
#                con=engine,
#                schema=project_name,
#                if_exists ='replace')

164

In [10]:
# export database
from sqlalchemy import create_engine
engine2 = create_engine(f'sqlite:///C:\\Users\\thodson\\Desktop\\{project_name}.sqlite')
large_df.to_sql('wrtds', engine2, if_exists='replace')#, index=False)

17164

# Scratch